{% extends "base.html" %}
{% load custom_filters %}
{% load humanize %}

{% block customcss %}
    <!-- Inclua os arquivos CSS e JS do AG Grid -->

    <script src="https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js"></script>
    <style>
        .my-custom-theme {
            --ag-header-background-color: #f9fafb !important;
            --ag-header-foreground-color: #919191 !important;
            --ag-odd-row-background-color: #f9fafb !important;
            --ag-border-color: transparent !important;
        }
        
        .my-custom-theme .ag-root {
            background-color: white !important;
            color: rgb(46, 55, 66) !important;
        }
        
        .my-custom-theme .ag-header {
            font-size: 14px !important;
            font-weight: 600 !important;
        }
        
    </style>    
{% endblock customcss %}


{% block title %}
    <h4>Dashboard OrionTax</h4>

{% endblock title %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="#!">Dashboard OrionTax</a>
    </li>
{% endblock breadcrumb %}


{% block content %}

    <div class="row">
        <!-- statustic-card start -->
        <div class="col-xl-3 col-md-6">
            <div class="card bg-c-yellow text-white">
                <div class="card-block">
                    <div class="row align-items-center">
                        <div class="col">
                            <p class="m-b-5">Clientes</p>
                            <h4 class="m-b-0">{{ clients|length }}</h4>
                        </div>
                        <div class="col col-auto text-right">
                            <i class="feather icon-user f-50 text-c-yellow"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-c-green text-white">
                <div class="card-block">
                    <div class="row align-items-center">
                        <div class="col">
                            <p class="m-b-5">Lojas</p>
                            <h4 class="m-b-0">{{ total_stores }}</h4>
                        </div>
                        <div class="col col-auto text-right">
                            <i class="feather icon-home f-50 text-c-green"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-c-blue text-white">
                <div class="card-block">
                    <div class="row align-items-center">
                        <div class="col">
                            <p class="m-b-5">Média de Itens/Cliente</p>
                            <h4 class="m-b-0">{{ media_items|custom_floatformat }}</h4>
                        </div>
                        <div class="col col-auto text-right">
                            <i class="feather icon-shopping-cart f-50 text-c-blue"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
        <div class="col-xl-3 col-md-6">
            <div class="card bg-c-pink text-white">
                <div class="card-block">
                    <div class="row align-items-center">
                        <div class="col">
                            <p class="m-b-5">Produtos com problema</p>
                            <h4 class="m-b-0">{{ total_imported_itens|custom_floatformat:0 }}</h4>
                            

                        </div>
                        <div class="col col-auto text-right">
                            <i class="feather icon-book f-50 text-c-pink"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- statustic-card start -->        
        <div class="col-lg-12">
            <!-- Hover table card start -->
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="product-edit">
                                <ul class="nav nav-tabs nav-justified md-tabs " id="client-tabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#dashboard" role="tab">
                                            <div class="f-20">
                                                <i class="icofont icofont-dashboard-web"></i>
                                            </div>
                                            Dashboard</a>
                                        <div class="slide"></div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#sync-stores" role="tab">
                                            <div class="f-20">
                                                <i class="icofont icofont-cloud-refresh"></i>
                                            </div>
                                            Painel Sincronizações
                                        </a>
                                        <div class="slide"></div>
                                    </li>                                                                                                                                                          
                                </ul>
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <!-- Inicio Tab Dashboard -->
                                    <div class="tab-pane active" id="dashboard" role="tabpanel">                                
                                        <div class="card-block table-border-style">
                                            <div class="table-responsive">
                                                <div id="myGrid" class="ag-theme-alpine my-custom-theme" style="height: 800px; width: 100%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Fim Tab Dashboard -->
                                    <!-- Inicio Tab sync-stores -->
                                    <div class="tab-pane" id="sync-stores" role="tabpanel">                                
                                        <div class="card-block table-border-style">
                                            <div class="table-responsive">
                                                <div id="gridSyncStores" class="ag-theme-alpine my-custom-theme" style="height: 800px; width: 100%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Fim Tab sync-stores -->
                                </div>   
                            </div>
                        </div>
                    </div>
                </div>                              
            </div>
            <!-- Hover table card end -->
        </div>
    </div>
{% endblock content %}

{% block anotherjs %}
<script>
    var rowDataDashboard = {{ clients_json|safe }};
    var rowDataSyncStores = {{ clients_json_sync|safe }};

    const localeText = {
        page: "Página",
        more: "Mais",
        to: "para",
        of: "de",
        next: "Próximo",
        last: "Último",
        first: "Primeiro",
        previous: "Anterior",
        loadingOoo: "Carregando...",
        pageSize: "Itens por Página",
    
        // Filtros
        equals: "Igual a",
        notEqual: "Diferente de",
        lessThan: "Menor que",
        greaterThan: "Maior que",
        lessThanOrEqual: "Menor ou igual a",
        greaterThanOrEqual: "Maior ou igual a",
        inRange: "Entre",
        before: "Antes de",
        after: "Depois de",
        contains: "Contém",
        notContains: "Não contém",
        startsWith: "Começa com",
        endsWith: "Termina com",
        blanks: "(Vazios)",
        notBlanks: "(Não vazios)",    
    
        // Outros
        noRowsToShow: "Nenhum registro encontrado",
        filterOoo: "Filtrar...",
        applyFilter: "Aplicar",
        resetFilter: "Redefinir",
        andCondition: "E",
        orCondition: "OU",
        searchOoo: "Buscar...",
        selectAll: "Selecionar tudo",
        loadingOoo: "Carregando...",
        pinColumn: "Fixar Coluna",
        autosizeThisColumn: "Ajustar esta coluna",
        autosizeAllColumns: "Ajustar todas as colunas",
        group: "Grupo",
        columns: "Colunas",
        filters: "Filtros"
    };    

    const columnDefs = [
        { 
            headerName: "Cliente", 
            headerClass: 'small-header',
            field: "client_name", 
            filter: true, 
            sortable: true, 
            cellStyle: {
                fontSize: '11px'  // Tamanho da fonte menor
            },            
            cellRenderer: (params) => `<a href="/clientes/${params.data.client_id}/update/">${params.value}</a>` 
        },
        { 
            headerName: "ERP", 
            field: "erp_name", 
            headerClass: 'small-header',
            filter: true, 
            sortable: true,
            cellStyle: {
                fontSize: '11px'  // Tamanho da fonte menor
            },              
            width: 80,
            minWidth: 70,
            maxWidth: 120,           
        },
        { 
            headerName: "Analista", 
            headerClass: 'small-header',
            field: "analyst", 
            filter: true, 
            sortable: true,
            cellStyle: {
                fontSize: '11px'  // Tamanho da fonte menor
            },              
            width: 95,
            minWidth: 90,
            maxWidth: 120,            
        },
        { 
            headerName: "Cadastrados", 
            field: "item_count", 
            filter: "agNumberColumnFilter", 
            valueFormatter: params => params.value ? params.value.toLocaleString('pt-BR') : '0',
            sortable: true, 
            cellClass: 'text-center',
            width: 90,
            minWidth: 80,
            maxWidth: 100,            
            cellStyle: {
                fontSize: '11px'  // Tamanho da fonte menor
            },  
        },
        { 
            headerName: "Novos", 
            field: "produtos_novos_pendentes", 
            filter: "agNumberColumnFilter", 
            valueFormatter: params => params.value ? params.value.toLocaleString('pt-BR') : '0',
            sortable: true, 
            cellClass: 'text-center',
            width: 70,
            minWidth: 50,
            maxWidth: 70, 
            cellStyle: {
                fontSize: '11px'  // Tamanho da fonte menor
            },                         
        },
        { 
            headerName: "Nomes Diferentes", 
            field: "produtos_com_descricao_divergente", 
            filter: "agNumberColumnFilter", 
            valueFormatter: params => params.value ? params.value.toLocaleString('pt-BR') : '0',
            sortable: true, 
            cellClass: 'text-center',
            width: 100,
            minWidth: 90,
            maxWidth: 120,
            cellStyle: {
                fontSize: '11px'  // Tamanho da fonte menor
            },              
        },
        { 
            headerName: "Com Divergência", 
            field: "produtos_com_divergencia", 
            filter: "agNumberColumnFilter", 
            valueFormatter: params => params.value ? params.value.toLocaleString('pt-BR') : '0',
            sortable: true, 
            cellClass: 'text-center',
            width: 90,
            minWidth: 80,
            maxWidth: 110,
            cellStyle: {
                fontSize: '11px'  // Tamanho da fonte menor
            },              
        },
        { 
            headerName: "Pendentes", 
            field: "pendentes", 
            filter: "agNumberColumnFilter", 
            valueFormatter: params => params.value ? params.value.toLocaleString('pt-BR') : '0',
            sortable: true, 
            cellClass: 'text-center',
            width: 90,
            minWidth: 80,
            maxWidth: 100,
            cellStyle: {
                fontSize: '11px'  // Tamanho da fonte menor
            },              
        },
        { 
            headerName: "Aguardando Sinc.", 
            field: "produtos_aguardando_sync", 
            filter: "agNumberColumnFilter", 
            valueFormatter: params => params.value ? params.value.toLocaleString('pt-BR') : '0',
            sortable: true, 
            cellClass: 'text-center',
            width: 90,
            minWidth: 80,
            maxWidth: 100,
            cellStyle: {
                fontSize: '11px'  // Tamanho da fonte menor
            },              
        },
        { 
            headerName: "Ação", 
            field: "client_id", 
            filter: false, 
            sortable: false, 
            cellClass: 'text-center', 
            cellRenderer: function(params) {
                // let itensPendentes = params.data.pendentes.replace(/\./g, ''); // Removendo separador de milhares para garantir que seja numérico
                let itensPendentes = params.data.pendentes;

                let dangerClass = itensPendentes > 0 ? "btn-danger text-white" : "btn-outline-danger text-black";

                return `
                    <a href="/clientes/items-pendentes-novos/${params.value}/" class="btn ${dangerClass} btn-mini">
                        <i class="icofont icofont-exclamation-tringle" style="font-size: 1.5em;"></i>
                    </a>
                    <a href="/clientes/items/${params.value}/" class="btn btn-primary btn-mini">
                        <i class="icofont icofont-eye-alt" style="font-size: 1.5em;"></i>
                    </a>
                `;
            },
            floatingFilter: false,
            width: 110,
            minWidth: 100,
            maxWidth: 120,            
        }
    ];    

    let gridApi;
  
    const gridOptions = {
        columnDefs: columnDefs,
        rowData: rowDataDashboard,
        pagination: true,
        paginationPageSize: 50, 
        defaultColDef: {
            filter: true,
            floatingFilter: true,
        },               
        onColumnResized: (params) => {
            console.log(params);
        },
        autoSizeStrategy: {
            type: "fitCellContents",
        },
        localeText: localeText,       
    };

    const syncColumnDefs = [
        { 
            headerName: "Cliente", 
            field: "client_name", 
            filter: true, 
            sortable: true, 
            cellRenderer: (params) => `<a href="/clientes/${params.data.client_id}/update/">${params.value}</a>` 
        },
        { headerName: "ERP", field: "erp_name", filter: true, sortable: true },
        { headerName: "Analista", field: "analyst", filter: true, sortable: true },
        { 
            headerName: "Última Data Recebimento", 
            field: "last_date_get", 
            filter: 'agDateColumnFilter', // Usando o filtro de data
            valueFormatter: (params) => {
                if (params.value) {
                    // Tentando parsear a string de data manualmente
                    const [day, month, year, hour, minute, second] = params.value.split(/[\s/:]+/);
                    const formattedDate = new Date(`${year}-${month}-${day}T${hour}:${minute}:${second}Z`);
        
                    // Retorna a data formatada no padrão brasileiro
                    return formattedDate.toLocaleString('pt-BR', {
                        year: 'numeric',
                        month: '2-digit',
                        day: '2-digit',
                        hour: '2-digit',
                        minute: '2-digit',
                        second: '2-digit',
                    });
                }
                return ''; // Retorna uma string vazia caso não tenha valor
            },
            sortable: true, 
            cellClass: 'text-center',
        },
        { 
            headerName: "Última Data Envio", 
            field: "last_date_send", 
            filter: 'agDateColumnFilter', // Usando o filtro de data
            valueFormatter: (params) => {
                if (params.value) {
                    // Tentando parsear a string de data manualmente
                    const [day, month, year, hour, minute, second] = params.value.split(/[\s/:]+/);
                    const formattedDate = new Date(`${year}-${month}-${day}T${hour}:${minute}:${second}Z`);
        
                    // Retorna a data formatada no padrão brasileiro
                    return formattedDate.toLocaleString('pt-BR', {
                        year: 'numeric',
                        month: '2-digit',
                        day: '2-digit',
                        hour: '2-digit',
                        minute: '2-digit',
                        second: '2-digit',
                    });
                }
                return ''; // Retorna uma string vazia caso não tenha valor
            },
            sortable: true, 
            cellClass: 'text-center',

        },
        { headerName: "Método Integração", field: "method_integration", filter: true, sortable: true },
    ];    

    let syncGridApi;
  
    const syncGridOptions = {
        columnDefs: syncColumnDefs,
        rowData: rowDataSyncStores,
        pagination: true,
        paginationPageSize: 50, 
        defaultColDef: {
            filter: true,
            floatingFilter: true,
        },               
        onColumnResized: (params) => {
            console.log(params);
        },
        autoSizeStrategy: {
            type: "fitGridWidth",
            defaultMinWidth: 100,
            columnLimits: [
              {
                colId: "client_name",
                minWidth: 900,
              },
            ],
        },
        localeText: localeText,        
    };    
  
    function autoSizeAll(skipHeader) {
        const allColumnIds = [];
        gridApi.getColumns().forEach((column) => {
            allColumnIds.push(column.getId());
        });
    
        gridApi.autoSizeColumns(allColumnIds, skipHeader);
    }

    function sizeToFit() {
        syncGridApi.sizeColumnsToFit({
          defaultMinWidth: 100,
          columnLimits: [{ key: "client_name", minWidth: 900 }],
        });
      }    
  
    document.addEventListener("DOMContentLoaded", () => {
        const gridDiv = document.querySelector("#myGrid");
        gridApi = agGrid.createGrid(gridDiv, gridOptions);

        const syncGridDiv = document.querySelector("#gridSyncStores");
        syncGridApi = agGrid.createGrid(syncGridDiv, syncGridOptions);
    });


    
</script>
{% endblock anotherjs %}

