
{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    <h4>Novo Sistema</h4>
    <span>Cadastrar um novo ERP que os clientes utilizam</span>
{% endblock title %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'erps_list' %}">ERPs</a>
    </li>
    <li class="breadcrumb-item"><a href="#!">Novo Sistema</a>
    </li>
{% endblock breadcrumb %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <!-- Product edit card start -->
        <div class="card">
            <div class="card-header">
                <h5>Dados do Sistema</h5>
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="col-sm-12">
                        <form class="md-float-material card-block"  method="POST" id="form-create-user">
                            {% csrf_token %}
                            <div class="row">
                                <label class="col-sm-4 col-lg-2 col-form-label">Nome</label>
                                <div class="col-sm-8 col-lg-10">
                                    <span class="messages text-danger">{{ form.name.errors }}</span>
                                    <div class="input-group">
                                        {{ form.name|add_class:"form-control"|attr:"placeholder:Nome do Sistema" }}
                                    </div>
                                </div>                                    
                            </div>
                            <!-- Método de Integração -->
                            <div class="row">
                                <label class="col-sm-4 col-lg-2 col-form-label">Método de Integração</label>
                                <div class="col-sm-8 col-lg-10">
                                    <span class="messages text-danger">{{ form.method_integration.errors }}</span>
                                    <div class="input-group">
                                        {{ form.method_integration|add_class:"form-control" }}
                                    </div>
                                </div>
                            </div>

                            <!-- Periodicidade -->
                            <div class="row">
                                <label class="col-sm-4 col-lg-2 col-form-label">Periodicidade</label>
                                <div class="col-sm-8 col-lg-10">
                                    <span class="messages text-danger">{{ form.periodicity.errors }}</span>
                                    <div class="input-group">
                                        {{ form.periodicity|add_class:"form-control" }}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-4 col-lg-2 col-form-label">Descrição</label>
                                <div class="col-sm-8 col-lg-10">
                                    <div class="input-group">
                                        {{ form.description|add_class:"form-control"|attr:"placeholder:Descrição do Sistema/Parâmetros a serem usados"|attr:"rows:6"|attr:"cols:50" }}
                                        {{ form.description.errors }}
                                    </div>
                                </div>                                    
                            </div>                                                                                                                                            
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="text-center m-t-20">
                                        <input type="submit" onClick="showLoading('form-create-user')" value="Salvar" class="btn btn-primary waves-effect waves-light m-r-10" id="btn-save">
                                        <button type="button" class="btn btn-warning waves-effect waves-light" onclick="window.history.back();">Cancelar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product edit card end -->
    </div>
</div>
{% endblock %}



