
{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    <h4>Novo Cliente</h4>
    <span>Formulário de criação de cliente</span>
{% endblock title %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="#!">Clientes</a>
    </li>
    <li class="breadcrumb-item"><a href="#!">Novo Cliente</a>
    </li>
{% endblock breadcrumb %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <!-- Product edit card start -->
        <div class="card">
            <div class="card-block">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="product-edit">
                            <ul class="nav nav-tabs nav-justified md-tabs " role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#basic_tab" role="tab">
                                        <div class="f-20">
                                            <i class="icofont icofont-edit"></i>
                                        </div>
                                        Dados do Cliente</a>
                                    <div class="slide"></div>
                                </li>
                                {% comment %} <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tab_integrantes" role="tab">
                                        <div class="f-20">
                                            <i class="icofont icofont-document-search"></i>
                                        </div>
                                        Integrantes da Equipe</a>
                                    <div class="slide"></div>
                                </li> {% endcomment %}
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <!-- Inicio Tab Dados Usuario -->
                                <!-- <form class="md-float-material card-block"> -->
                                <div class="tab-pane active" id="basic_tab" role="tabpanel">
                                    <form class="md-float-material card-block"  method="POST" id="form-create-user">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label class="col-sm-6 col-lg-4 col-form-label">Nome</label>
                                                <div class="col-sm-8 col-lg-12">
                                                    <span class="messages text-danger">{{ form.name.errors }}</span>
                                                    <div class="input-group">
                                                        {{ form.name|add_class:"form-control"|attr:"placeholder:Nome Fantasia" }}
                                                    </div>
                                                </div>                                                  
                                            </div>
                                            <div class="col-md-3">
                                                <label class="col-sm-6 col-lg-12 col-form-label">Núm. Lojas</label>
                                                <div class="col-sm-8 col-lg-10">
                                                    <span class="messages text-danger">{{ form.num_stores.errors }}</span>
                                                    <div class="input-group">
                                                        {{ form.num_stores|add_class:"form-control"|attr:"type:Number" }}
                                                    </div>
                                                </div>                                                
                                            </div>
                                            <div class="col-md-3">                                                
                                                <label class="col-sm-8 col-lg-12 col-form-label">Possui proveito econômico?</label>
                                                <div class="col-sm-4 col-lg-4">
                                                    <div class="checkbox-fade fade-in-primary">
                                                        <label>
                                                            {{ form.economic_benefit|add_class:"form-check-input" }}
                                                            <span class="cr">
                                                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                                            </span>
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>                                                
                                            </div>                                            
                                        </div>  

                                        <div class="row">
                                            <div class="col-md-3">
                                                <label class="col-sm-4 col-lg-12 col-form-label">Data do Contrato</label>
                                                <div class="col-sm-8 col-lg-10">
                                                    <span class="messages text-danger">{{ form.date_contract.errors }}</span>
                                                    <div class="input-group">
                                                        {{ form.date_contract|add_class:"form-control date"|attr:"placeholder:dd/mm/yyyy"|attr:"data-mask:99/99/9999" }}
                                                    </div>
                                                </div>                                                  
                                            </div>
                                            <div class="col-md-3">
                                                <label class="col-sm-4 col-lg-12 col-form-label">Data do Envio</label>
                                                <div class="col-sm-8 col-lg-10">
                                                    <span class="messages text-danger">{{ form.date_send.errors }}</span>
                                                    <div class="input-group">
                                                        {{ form.date_send|add_class:"form-control date"|attr:"placeholder:dd/mm/yyyy"|attr:"data-mask:99/99/9999" }}
                                                    </div>
                                                </div>                                                
                                            </div>
                                            <div class="col-md-3">
                                                <label class="col-sm-4 col-lg-12 col-form-label">Primeira Carga</label>
                                                <div class="col-sm-8 col-lg-10">
                                                    <span class="messages text-danger">{{ form.first_load_date.errors }}</span>
                                                    <div class="input-group">
                                                        {{ form.first_load_date|add_class:"form-control date"|attr:"placeholder:dd/mm/yyyy"|attr:"data-mask:99/99/9999" }}
                                                    </div>
                                                </div>                                                
                                            </div>                                                                                        
                                            <div class="col-md-3">                                                
                                                <label class="col-sm-8 col-lg-8 col-form-label">Dia do envio</label>
                                                <div class="col-sm-8 col-lg-12">
                                                    <span class="messages text-danger">{{ form.day_sent.errors }}</span>
                                                    <div class="input-group">
                                                        {{ form.day_sent|add_class:"form-control"}}
                                                    </div>
                                                </div>                                                
                                            </div>                                            
                                        </div>   
                                        
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label class="col-sm-6 col-lg-4 col-form-label">Sistema Utilizado</label>
                                                <div class="col-sm-8 col-lg-12">
                                                    <span class="messages text-danger">{{ form.erp.errors }}</span>
                                                    <div class="input-group">
                                                        {{ form.erp|add_class:"form-control"}}
                                                    </div>
                                                </div>                                                  
                                            </div>
                                            <div class="col-md-6">
                                                <label class="col-sm-6 col-lg-4 col-form-label">Contabilidade</label>
                                                <div class="col-sm-8 col-lg-12">
                                                    <span class="messages text-danger">{{ form.accounting.errors }}</span>
                                                    <div class="input-group">
                                                        {{ form.accounting|add_class:"form-control"}}
                                                    </div>
                                                </div>                                                
                                            </div>
                                        </div>    
                                        
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label class="col-sm-12 col-lg-12 col-form-label">Comercial Responsável</label>
                                                <div class="col-sm-8 col-lg-12">
                                                    <span class="messages text-danger">{{ form.commercial_responsible.errors }}</span>
                                                    <div class="input-group">
                                                        {{ form.commercial_responsible|add_class:"form-control"|attr:"placeholder:Responsável Comercial" }}
                                                    </div>
                                                </div>                                                  
                                            </div>
                                            <div class="col-md-4">
                                                <label class="col-sm-12 col-lg-12 col-form-label">Proprietário</label>
                                                <div class="col-sm-8 col-lg-12">
                                                    <span class="messages text-danger">{{ form.owner.errors }}</span>
                                                    <div class="input-group">
                                                        {{ form.owner|add_class:"form-control"|attr:"placeholder:Nome do propietário" }}
                                                    </div>
                                                </div>                                                
                                            </div>
                                            <div class="col-md-4">
                                                <label class="col-sm-12 col-lg-12 col-form-label">CNPJ Principal</label>
                                                <div class="col-sm-8 col-lg-12">
                                                    <span class="messages text-danger">{{ form.cnpj.errors }}</span>
                                                    <div class="input-group">
                                                        {{ form.cnpj|add_class:"form-control"|attr:"placeholder:00.000.000/0000-00" }}
                                                    </div>
                                                </div>                                                
                                            </div>                                             
                                        </div>   

                                        <div class="row">
                                            <div class="col-md-4">
                                                <label class="col-sm-6 col-lg-4 col-form-label">Telefone</label>
                                                <div class="col-sm-8 col-lg-12">
                                                    <span class="messages text-danger">{{ form.contact.errors }}</span>
                                                    <div class="input-group">
                                                        {{ form.contact|add_class:"form-control telphone_with_code"|attr:"placeholder:(99) 99999-9999"|attr:"data-mask:(99) 99999-9999" }}
                                                    </div>
                                                </div>                                                  
                                            </div>
                                            <div class="col-md-4">
                                                <label class="col-sm-6 col-lg-4 col-form-label">Email</label>
                                                <div class="col-sm-8 col-lg-12">
                                                    <span class="messages text-danger">{{ form.email.errors }}</span>
                                                    <div class="input-group">
                                                        {{ form.email|add_class:"form-control"|attr:"placeholder:E-mail"|attr:"type:email" }}
                                                    </div>
                                                </div>                                                
                                            </div>
                                            <div class="col-md-4">
                                                <label class="col-sm-6 col-lg-12 col-form-label">Analista Responsável</label>
                                                <div class="col-sm-8 col-lg-12">
                                                    <span class="messages text-danger">{{ form.user.errors }}</span>
                                                    <select name="user" id="id_user" class="form-control" required>
                                                        <option value=""selected>Selecione um analista</option>
                                                        {% for user in users %}
                                                            <option value="{{ user.id }}">{{ user.get_full_name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>                                                
                                            </div>                                            
                                        </div>  

                                        <hr>
                                        <h5>Informações para conexão</h5>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label class="col-sm-12 col-lg-12 col-form-label">Endereço para conectar</label>
                                                <div class="col-sm-8 col-lg-12">
                                                    <span class="messages text-danger">{{ form.connection_route.errors }}</span>
                                                    <div class="input-group">
                                                        {{ form.connection_route|add_class:"form-control"|attr:"placeholder:host.ddns.net" }}
                                                    </div>
                                                </div>                                                  
                                            </div>
                                            <div class="col-md-3">
                                                <label class="col-sm-12 col-lg-12 col-form-label">Banco de Dados</label>
                                                <div class="col-sm-8 col-lg-12">
                                                    <span class="messages text-danger">{{ form.database_route.errors }}</span>
                                                    <div class="input-group">
                                                        {{ form.database_route|add_class:"form-control"|attr:"placeholder:Base de Dados" }}
                                                    </div>
                                                </div>                                                
                                            </div>
                                            <div class="col-md-2">
                                                <label class="col-sm-12 col-lg-12 col-form-label">Porta</label>
                                                <div class="col-sm-8 col-lg-12">
                                                    <span class="messages text-danger">{{ form.port_route.errors }}</span>
                                                    <div class="input-group">
                                                        {{ form.port_route|add_class:"form-control"|attr:"placeholder:5432" }}
                                                    </div>
                                                </div>                                                
                                            </div>
                                            <div class="col-md-2">
                                                <label class="col-sm-12 col-lg-12 col-form-label">Usuário</label>
                                                <div class="col-sm-8 col-lg-12">
                                                    <span class="messages text-danger">{{ form.user_route.errors }}</span>
                                                    <div class="input-group">
                                                        {{ form.user_route|add_class:"form-control"|attr:"placeholder:usuario" }}
                                                    </div>
                                                </div>                                                
                                            </div>
                                            <div class="col-md-2">
                                                <label class="col-sm-12 col-lg-12 col-form-label">Senha</label>
                                                <div class="col-sm-8 col-lg-12">
                                                    <span class="messages text-danger">{{ form.password_route.errors }}</span>
                                                    <div class="input-group">
                                                        {{ form.password_route }}
                                                    </div>
                                                </div>                                                
                                            </div>                                                                                                                                    
                                        </div>                                                                                                                        

                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="text-center m-t-20">
                                                    <input type="submit" onClick="showLoading('form-create-user')" value="Salvar" class="btn btn-primary waves-effect waves-light m-r-10" id="btn-save">
                                                    <button type="button" class="btn btn-warning waves-effect waves-light">Cancelar
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- End Tab Dados Usuario -->
                                <!-- Inicio Tab Equipe 
                                <div class="tab-pane" id="tab_integrantes" role="tabpanel">
                                    <form class="md-float-material card-block">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="icofont icofont-all-caps"></i></span>
                                                    <input type="text" class="form-control" placeholder="Title">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="icofont icofont-underline"></i></span>
                                                    <input type="text" class="form-control" placeholder="Label Name">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="icofont icofont-ui-keyboard"></i></span>
                                                    <input type="text" class="form-control" placeholder="Keyword">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="icofont icofont-copy-alt"></i></span>
                                                    <input type="text" class="form-control" placeholder="Description">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="text-center m-t-20">
                                                    <button type="button" class="btn btn-primary waves-effect waves-light m-r-10">Save</button>
                                                    <button type="button" class="btn btn-warning waves-effect waves-light">Discard</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                 End Tab Equipe Usuario -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product edit card end -->
    </div>
</div>
{% endblock %}

{% block anotherjs %}
    <!-- Masking js -->
    <script src="{% static 'assets/pages/form-masking/inputmask.js' %}"></script>
    <script src="{% static 'assets/pages/form-masking/jquery.inputmask.js' %}"></script>
    <script src="{% static 'assets/pages/form-masking/autoNumeric.js' %}"></script>
    <script src="{% static 'assets/pages/form-masking/form-mask.js' %}?{% now "U" %}"></script>
{% endblock anotherjs %}


