
{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    <h4>Alterar Senha</h4>
    <span>Alterar senha pessoal</span>
{% endblock title %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="#!">Alterar Senha</a>
    </li>
{% endblock breadcrumb %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <!-- Product edit card start -->
        <div class="card">
            <div class="card-block">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="product-edit">
                            <ul class="nav nav-tabs nav-justified md-tabs " role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#change_password" role="tab">
                                        <div class="f-20">
                                            <i class="icofont icofont-edit"></i>
                                        </div>
                                        Alterar Senha</a>
                                    <div class="slide"></div>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <!-- Inicio Tab Alterar Senha -->
                                <div class="tab-pane active" id="change_password" role="tabpanel">
                                    {% if password_change_success %}
                                        <div class="alert alert-success">
                                            Senha alterada com sucesso!
                                        </div>
                                    {% endif %}                                    
                                    <form class="md-float-material card-block"  method="POST" id="form-create-user">
                                        {% csrf_token %}
                                        <div class="row">
                                            <label class="col-sm-4 col-lg-2 col-form-label">Senha Atual</label>
                                            <div class="col-sm-8 col-lg-10">
                                                <span class="messages text-danger">{{ form.old_password.errors }}</span>
                                                <div class="input-group">
                                                    {{ form.old_password|add_class:"form-control"|attr:"placeholder:sua senha atual"|attr:"type:password"|attr:"required:True" }}
                                                </div>
                                            </div>                                    
                                        </div>
                                        <div class="row">
                                            <label class="col-sm-4 col-lg-2 col-form-label">Nova Senha</label>
                                            <div class="col-sm-8 col-lg-10">
                                                <span class="messages text-danger">{{ form.new_password1.errors }}</span>
                                                <div class="input-group">
                                                    {{ form.new_password1|add_class:"form-control"|attr:"placeholder:sua nova senha"|attr:"type:password"|attr:"required:True" }}
                                                </div>
                                            </div>                                    
                                        </div>
                                        <div class="row">
                                            <label class="col-sm-4 col-lg-2 col-form-label">Repita a Senha</label>
                                            <div class="col-sm-8 col-lg-10">
                                                <span class="messages text-danger">{{ form.new_password2.errors }}</span>
                                                <div class="input-group">
                                                    {{ form.new_password2|add_class:"form-control"|attr:"placeholder:sua nova senha"|attr:"type:password"|attr:"required:True" }}
                                                </div>
                                            </div>                                    
                                        </div>   
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="text-left">
                                                    <span class="text-danger"> Sua senha precisa conter pelo menos 8 caracteres.</span><br>
                                                    <span class="text-danger"> Sua senha não pode ser inteiramente numérica. </span>                                                                       
                                                </div>
                                            </div>
                                        </div>                                      

                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="text-center m-t-20">
                                                    <input type="submit" onClick="showLoading('form-create-user')" value="Salvar" class="btn btn-primary waves-effect waves-light m-r-10" id="btn-save">
                                                    <button type="button" class="btn btn-warning waves-effect waves-light">Cancelar
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- End Tab Alter Senha -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product edit card end -->
    </div>
</div>
{% endblock %}

{% block anotherjs %}
    <!-- Masking js -->
    <script src="{% static 'assets/pages/form-masking/inputmask.js' %}"></script>
    <script src="{% static 'assets/pages/form-masking/jquery.inputmask.js' %}"></script>
    <script src="{% static 'assets/pages/form-masking/autoNumeric.js' %}"></script>
    <script src="{% static 'assets/pages/form-masking/form-mask.js' %}?{% now "U" %}"></script>

    {% comment %} <script>
        function showLoading2() {
            console.log('entrou no loading')
            $('.theme-loader').animate({
                'opacity': '1',
            }, 200); 
        }        
    </script> {% endcomment %}
{% endblock anotherjs %}


