{% load static %}
<!DOCTYPE html>
<html lang="pt">

<head>
    <title>OrionTax - Sistema Integrador</title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="#">
    <meta name="keywords" content="Integrador OrionTax Supermercados Impostos">
    <meta name="author" content="#">
    <!-- Favicon icon -->
    <link rel="icon" href="{% static 'assets/images/favicon.ico' %}" type="image/x-icon">
    <!-- Google font--><link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/css/bootstrap.min.css' %}">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/icon/themify-icons/themify-icons.css' %}">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/icon/icofont/css/icofont.css' %}">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
</head>

<body class="fix-menu">
    <!-- Pre-loader start -->
    <div class="theme-loader">
        <div class="ball-scale">
            <div class='contain'>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
            </div>
        </div>
    </div>
    <!-- Pre-loader end -->

    <section class="login-block">
        <!-- Container-fluid starts -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <!-- Authentication card start -->                    
                        <form id="login-form" class="md-float-material form-material" method="post" >
                            {% csrf_token %}
                            <div class="auth-box card">
                                <div class="card-block">
                                    <div class="row m-b-20">
                                        <div class="text-center">
                                            
                                        </div>                                        
                                        <div class="col-md-12 text-center">
                                            <img src="{% static 'assets/images/auth/logo-login.png' %}" alt="logo.png">
                                        </div>
                                    </div>
                                    <div id="error-messages" class="alert alert-danger" style="display: none;"></div>                                   
                                    <div class="form-group form-primary">
                                        <input type="text" name="username" class="form-control" required="" placeholder="E-mail">
                                        <span class="form-bar"></span>
                                    </div>
                                    <div class="form-group form-primary" style="position: relative;">
                                        <input type="password" name="password" id="id_password" class="form-control" required="" placeholder="Senha">
                                        <span class="form-bar"></span>
                                        
                                        <i id="togglePassword" class="icofont icofont-eye" style="position: absolute; right: 15px; top: 50%; transform: translateY(-50%); cursor: pointer; z-index: 100;"></i>
                                        {{ form.password.errors }}
                                    </div>
                                    <div class="row m-t-25 text-left">
                                        <div class="col-12">
                                            <div class="forgot-phone text-right f-right">
                                                <a href="{% url 'password_reset' %}" class="text-right f-w-600"> Esqueceu a senha?</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row m-t-30">
                                        <div class="col-md-12">
                                            <input type="submit" value="Fazer Login" class="btn btn-primary btn-md btn-block waves-effect waves-light text-center m-b-20">
                                        </div>
                                    </div>
                                    <div class="row m-t-5 text-left">
                                        <div class="col-12">
                                            <div class="forgot-phone text-right f-right">
                                                <a href="https://documenter.getpostman.com/view/1113377/2sA3s4mAjX" class="text-right f-w-600" target="_blank">Acessar Documentação API</a>
                                            </div>
                                        </div>
                                    </div>    
                                    <div class="row m-t-5">
                                        <div class="col-12">
                                            <div class="forgot-phone text-right f-right">
                                                v 1.0.0
                                            </div>
                                        </div>
                                    </div>                                                                    
                                </div>
                            </div>
                        </form>
                        <!-- end of form -->
                </div>
                <!-- end of col-sm-12 -->
            </div>
            <!-- end of row -->
        </div>
        <!-- end of container-fluid -->
    </section>
    <!-- Warning Section Starts -->
    <!-- Older IE warning message -->
    <!--[if lt IE 10]>
<div class="ie-warning">
    <h1>Warning!!</h1>
    <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
    <div class="iew-container">
        <ul class="iew-download">
            <li>
                <a href="http://www.google.com/chrome/">
                    <img src="../files/assets/images/browser/chrome.png" alt="Chrome">
                    <div>Chrome</div>
                </a>
            </li>
            <li>
                <a href="https://www.mozilla.org/en-US/firefox/new/">
                    <img src="../files/assets/images/browser/firefox.png" alt="Firefox">
                    <div>Firefox</div>
                </a>
            </li>
            <li>
                <a href="http://www.opera.com">
                    <img src="../files/assets/images/browser/opera.png" alt="Opera">
                    <div>Opera</div>
                </a>
            </li>
            <li>
                <a href="https://www.apple.com/safari/">
                    <img src="../files/assets/images/browser/safari.png" alt="Safari">
                    <div>Safari</div>
                </a>
            </li>
            <li>
                <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                    <img src="../files/assets/images/browser/ie.png" alt="">
                    <div>IE (9 & above)</div>
                </a>
            </li>
        </ul>
    </div>
    <p>Sorry for the inconvenience!</p>
</div>
<![endif]-->
    <!-- Warning Section Ends -->
    <!-- Required Jquery -->
    <script type="text/javascript" src="{% static 'bower_components/jquery/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/jquery-ui/js/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/popper.js/js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="{% static 'bower_components/jquery-slimscroll/js/jquery.slimscroll.js' %}"></script>
    <!-- modernizr js -->
    <script type="text/javascript" src="{% static 'bower_components/modernizr/js/modernizr.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/modernizr/js/css-scrollbars.js' %}"></script>
    <!-- i18next.min.js -->
    <script type="text/javascript" src="{% static 'bower_components/i18next/js/i18next.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/i18next-xhr-backend/js/i18nextXHRBackend.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/i18next-browser-languagedetector/js/i18nextBrowserLanguageDetector.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/jquery-i18next/js/jquery-i18next.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/common-pages.js' %}?{% now "U" %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#login-form').on('submit', function(event) {
                $('.theme-loader').show(); 
                event.preventDefault();
                $.ajax({
                    url: "{% url 'login' %}",
                    type: "POST",
                    data: $(this).serialize(),
                    beforeSend: function() {
                        // $('.theme-loader').show();
                        $('.theme-loader').animate({
                            'opacity': '1',
                        }, 200);                        
                        // Ou desativar botões para evitar cliques repetidos
                        $('button').prop('disabled', true);
                    },
                    success: function(response) {
                        if (response.success) {
                            window.location.href = response.redirect_url;
                        } else {
                            $('#error-messages').html(response.errors.join('<br>')).show();
                        }
                    },
                    error: function(xhr) {
                        console.log(xhr.responseText);
                    },
                    complete: function() {
                        $('.theme-loader').animate({
                            'opacity': '0',
                        }, 200);  
                        $('.theme-loader').hide(); 
                        // Ou reativar botões
                        $('button').prop('disabled', false);
                    }                    
                });
            });

            const togglePassword = document.querySelector('#togglePassword');
            const passwordInput = document.querySelector('#id_password');

            togglePassword.addEventListener('click', function (e) {
                // 1. Alterna o tipo do input (password <-> text)
                const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
                passwordInput.setAttribute('type', type);
                
                // 2. Troca os ícones
                if (type === 'text') {
                    // Senha visível: Mudar para o ícone de 'olho bloqueado'
                    this.classList.remove('icofont-eye');
                    this.classList.add('icofont-eye-blocked');
                } else {
                    // Senha escondida: Mudar para o ícone de 'olho'
                    this.classList.remove('icofont-eye-blocked');
                    this.classList.add('icofont-eye');
                }
            });       
        });
    </script>
</body>

</html>
