{% load static i18n %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% blocktrans %}Password reset on {{ site_name }}{% endblocktrans %}</title>
</head>
<body>
    <p>{% blocktrans %}Hello,{% endblocktrans %}</p>
    <p>{% blocktrans %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktrans %}</p>
    <p>{% blocktrans %}Please go to the following page and choose a new password:{% endblocktrans %}</p>
    <p><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">{% blocktrans %}Reset your password{% endblocktrans %}</a></p>
    <p>{% blocktrans %}Your username, in case you've forgotten: {{ user.get_username }}{% endblocktrans %}</p>
    <p>{% blocktrans %}Thanks for using our site!{% endblocktrans %}</p>
    <p>{% blocktrans %}The {{ site_name }} team{% endblocktrans %}</p>
    <img src="{{ protocol }}://{{ domain }}{% static 'assets/images/auth/logo-login.png' %}" alt="Logo" height="152" style="display:block;">
</body>
</html>
