{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block title %}
    <h4>Produtos</h4>
    <span>Listagem de produtos cadastrados</span>
{% endblock title %}

{% block customcss %}
    <!-- Data Table Css -->
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/pages/data-table/css/buttons.dataTables.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}">  
{% endblock customcss %}



{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'clients_list' %}">Clientes</a>
    </li>
    <li class="breadcrumb-item"><a href="{% url 'client_update' pk=client_id %}">Lojas</a>
    </li>
    <li class="breadcrumb-item"><a href="#!">Produtos</a>
    </li>    
{% endblock breadcrumb %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <!-- Zero config.table start -->
        <div class="card">
            <div class="card-header">
                <h5>Lista de Produtos:  <a href="{% url 'client_update' client.id %}">{{ client_name }}</a> </h5>

                <a href="{% url 'item_create' client_id=client.id %}" type="button" class="btn btn-primary btn-sm waves-effect waves-light f-right d-inline-block md-trigger m-r-5"> 
                    <i class="icofont icofont-plus-circle m-r-5"></i>
                    Adicionar Produto
                </a>

                <a href="{% url 'items_upload' client_id=client.id %}" type="button" class="btn btn-inverse btn-sm waves-effect waves-light f-right d-inline-block md-trigger m-r-5"> 
                    <i class="icofont icofont-upload-alt m-r-5"></i> 
                    Importar Produtos
                </a>

                <a href="{% url 'export_items_to_excel' client_id=client.id table='all' %}" type="button" class="btn btn-inverse btn-sm btn-outline-inverse waves-effect waves-light f-right d-inline-block md-trigger m-r-5"> 
                    <i class="icofont icofont-save m-r-5"></i>
                    Exportar Cadastros
                </a>                 

                <a href="{% url 'download_file' 'ArquivoModelo.xlsx' %}" type="button" class="btn btn-inverse btn-sm btn-outline-inverse waves-effect waves-light f-right d-inline-block md-trigger m-r-5"> 
                    <i class="icofont icofont-download-alt m-r-5"></i> 
                    Baixar Modelo
                </a>  
                
                <button type="button" class="btn btn-inverse btn-sm btn-outline-inverse waves-effect waves-light f-right d-inline-block md-trigger m-r-5" data-toggle="modal" data-target="#searchModal"> 
                    <i class="icofont icofont-filter"></i>
                </button> 

                <button id="revendaButton" type="button" class="btn btn-inverse btn-sm btn-outline-inverse waves-effect waves-light f-right d-inline-block md-trigger m-r-5"> 
                    <i class="icofont icofont-check-circled m-r-5"></i> 
                    Somente Revenda
                </button>                
                                                                   
                <span class="text-danger">Total de produtos cadastrados: {{ total_items }}</span>

            </div>
            <div class="card-block">                  
                <div class="dt-responsive table-responsive">
                    <table id="simpletable" class="table compact table-striped table-bordered nowrap " style="font-size: x-small;padding: 0rem;">
                        <thead style="font-size: xx-small;">
                        <tr>
                            <th class="text-center" style="padding-right: 0;">Código</th>
                            <th class="text-center" style="padding-right: 0;">Cód.Barras</th>
                            <th class="text-center" style="padding-right: 0;">Descrição</th>
                            <th class="text-center" style="padding-right: 0;">NCM</th>
                            <th class="text-center" style="padding-right: 0;">CEST</th>
                            <th class="text-center" style="padding-right: 0;">CFOP</th>
                            <th class="text-center" style="padding-right: 0;">CST Icms</th>
                            <th class="text-center" style="padding-right: 0;">Aliq.Icms</th>
                            <th class="text-center" style="padding-right: 0;">Aliq.IcmsRed</th>
                            <th class="text-center" style="padding-right: 0;">CBENEF</th>
                            <th class="text-center" style="padding-right: 0;">Protege</th>
                            <th class="text-center" style="padding-right: 0;">CST PIS/COFINS</th>
                            <th class="text-center" style="padding-right: 0;">Aliq.PIS</th>
                            <th class="text-center" style="padding-right: 0;">Aliq.COFINS</th>
                            <th class="text-center" style="padding-right: 0;">Nat.Receita</th>
                            <th class="text-center" style="padding-right: 0;">T.Produto</th>
                            <th class="text-center" style="padding-right: 0;">Status</th>
                            <th class="text-center" style="padding-right: 0;">Ação</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% if items %}
                                {% for item in items %}
                                    <tr>
                                        <td class="text-center align-middle">{{ item.code }} </td>
                                        <td class="text-center align-middle">{{ item.barcode|zero_to_empty|default_if_none:'' }}</td>
                                        <td class="text-center align-middle">{{ item.description }}</td>
                                        <td class="text-center align-middle">{{ item.ncm }}</td>
                                        <td class="text-center align-middle">{{ item.cest|zero_to_empty|default_if_none:'' }}</td>
                                        <td class="text-center align-middle">{{ item.cfop }}</td>
                                        <td class="text-center align-middle">{{ item.icms_cst }}</td>
                                        <td class="text-center align-middle">{{ item.icms_aliquota }}</td>
                                        <td class="text-center align-middle">{{ item.icms_aliquota_reduzida }}</td>
                                        <td class="text-center align-middle">{{ item.cbenef|default_if_none:'' }}</td>
                                        <td class="text-center align-middle">{{ item.protege }}</td>
                                        <td class="text-center align-middle">{{ item.piscofins_cst.code }}</td>
                                        <td class="text-center align-middle">{{ item.pis_aliquota }}</td>
                                        <td class="text-center align-middle">{{ item.cofins_aliquota }}</td>
                                        <td class="text-center align-middle">{{ item.naturezareceita.code }}</td>
                                        <td class="text-center align-middle">{{ item.type_product }}</td>
                                        <td class="text-center align-middle" style="color: #33D176;">
                                            
                                                <i class="icofont icofont-ui-check"></i>
                                            
                                        </td>
                                        <td class="text-center align-middle">                                             
                                            <a href="{% url 'item_update' client_id=client.id pk=item.id %}" type="button" class="text-center color-black">
                                                <i class="icofont icofont-ui-edit"></i>
                                            </a> 
                                        </td>                                        
                                    </tr>                                    
                                {% endfor %}
                            {% endif %}
                            
                        </tbody>
                    </table>
                </div>
                <!-- Paginação -->  
                <div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-center">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" tabindex="-1" href="?page={{ page_obj.previous_page_number }}&{{ request|cleaned_query_params:'page' }}">Anterior</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" tabindex="-1" href="?page=1&{{ request|cleaned_query_params:'page' }}">Anterior</a>
                            </li>                        
                        {% endif %}  

                        
                
                        {% for page_num in page_range %}
                            {% if page_num == '...' %}
                                <li class="page-item">
                                    <a class="page-link" href="#">{{ page_num }}</a>
                                </li>
                            {% elif page_obj.number == page_num %}
                                <li class="page-item active">
                                    <a class="page-link" href="#">{{ page_num }}</a>
                                </li>
                            {% else %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_num }}&{{ request|cleaned_query_params:'page' }}">{{ page_num }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}                      


                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}&{{ request|cleaned_query_params:'page' }}">Próxima</a>
                            </li>
                        {% endif %}                            
                    </ul> 
                     
                </div>                
            </div>
        </div>
        <!-- Zero config.table end -->
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header p-t-5 p-b-5 color-inverse text-white">
                <h5 class="modal-title" id="searchModalLabel">Filtrar Itens</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="text-white">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="searchForm">
                    <div class=" row">
                        <label class="col-sm-4 col-form-label">Código</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control form-control-sm" name="code" id="search_code" value="">
                        </div>
                    </div>
                    <div class=" row">
                        <label class="col-sm-4 col-form-label">Cód. Barras</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control form-control-sm" name="barcode" id="search_barcode">
                        </div>
                    </div>
                    <div class=" row">
                        <label class="col-sm-4 col-form-label">Descrição</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control form-control-sm" name="description" id="search_description">
                        </div>
                    </div>
                    <div class=" row">
                        <label class="col-sm-4 col-form-label">NCM</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control form-control-sm" name="ncm" id="search_ncm">
                        </div>
                    </div>
                    <div class=" row">
                        <label class="col-sm-4 col-form-label">CEST</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control form-control-sm" name="cest" id="search_cest">
                        </div>
                    </div>
                    <div class=" row">
                        <label class="col-sm-4 col-form-label">CFOP</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control form-control-sm" name="cfop" id="search_cfop">
                        </div>
                    </div>
                    <div class=" row">
                        <label class="col-sm-4 col-form-label">CST ICMS</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control form-control-sm" name="cst_icms" id="search_cst_icms">
                        </div>
                    </div>
                    <div class=" row">
                        <label class="col-sm-4 col-form-label">Alíq. ICMS</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control form-control-sm" name="icms_aliquota" id="search_icms_aliquota">
                        </div>
                    </div>                    
                    <div class=" row">
                        <label class="col-sm-4 col-form-label">Alíq. ICMS Reduz</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control form-control-sm" name="icms_aliquota_reduzida" id="search_icms_aliquota_reduzida">
                        </div>
                    </div>
                    <div class=" row">
                        <label class="col-sm-4 col-form-label">CBENEF</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control form-control-sm" name="cbenef" id="search_cbenef">
                        </div>
                    </div>
                    <div class=" row">
                        <label class="col-sm-4 col-form-label">Protege</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control form-control-sm" name="protege" id="search_protege">
                        </div>
                    </div>
                    <div class=" row">
                        <label class="col-sm-4 col-form-label">CST PIS/COFINS</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control form-control-sm" name="piscofins_cst" id="search_piscofins_cst">
                        </div>
                    </div>
                    <div class=" row">
                        <label class="col-sm-4 col-form-label">Alíq. PIS</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control form-control-sm" name="pis_aliquota" id="search_pis_aliquota">
                        </div>
                    </div>
                    <div class=" row">
                        <label class="col-sm-4 col-form-label">Alíq. COFINS</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control form-control-sm" name="cofins_aliquota" id="search_cofins_aliquota">
                        </div>
                    </div>
                    <div class=" row">
                        <label class="col-sm-4 col-form-label">Nat. Receita</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control form-control-sm" name="naturezareceita" id="search_naturezareceita">
                        </div>
                    </div>                                                                                                                                                                                                                           
                </form>
            </div>
            <div class="modal-footer p-t-5 p-b-5">
                <a href="#" class="btn btn-secondary btn-sm" id="clearSearch">Limpar Filtros</a>
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Fechar</button>
                <button type="submit" class="btn btn-primary  btn-sm" id="applySearch">Filtrar</button>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block anotherjs %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Pega os parâmetros da URL e preenche os campos do formulário
        var url = new URL(window.location.href);
        var urlParams = new URLSearchParams(window.location.search);
        var fields = [
            'code', 'barcode', 'description', 'ncm', 'cest', 'cfop', 'cst_icms',
            'icms_aliquota', 'icms_aliquota_reduzida', 'cbenef', 'protege',
            'piscofins_cst', 'pis_aliquota', 'cofins_aliquota', 'naturezareceita', 'tipo_produto'
        ];

        fields.forEach(function(field) {
            if (urlParams.has(field)) {
                document.getElementById('search_' + field).value = urlParams.get(field);
            }
        });

        var revendaButton = document.getElementById('revendaButton');
        // Verifica se a URL contém o parâmetro type_product=Revenda
        if (url.searchParams.get('type_product') === 'Revenda') {
            // Remove a classe outline se o parâmetro estiver presente
            revendaButton.classList.remove('btn-outline-inverse');
        } else {
            // Adiciona a classe outline se o parâmetro não estiver presente
            revendaButton.classList.add('btn-outline-inverse');
        }        
    });

    document.getElementById('applySearch').addEventListener('click', function() {
        var form = document.getElementById('searchForm');
        var url = new URL(window.location.href);
        
        var params = new URLSearchParams(new FormData(form));
        
        // Adiciona os parâmetros do formulário à URL
        for (var pair of params.entries()) {
            url.searchParams.set(pair[0], pair[1]);
        }
        
        window.location.href = url.toString();
    });

    document.getElementById('revendaButton').addEventListener('click', function() {
        var form = document.getElementById('searchForm');
        var url = new URL(window.location.href);
        var params = new URLSearchParams(new FormData(form));
        var revendaButton = document.getElementById('revendaButton');
    
        // Adiciona os parâmetros do formulário à URL
        for (var pair of params.entries()) {
            url.searchParams.set(pair[0], pair[1]);
        }
    
        // Verifica se já existe o parâmetro type_product=Revenda
        if (url.searchParams.get('type_product') === 'Revenda') {
            // Remove o parâmetro se ele já estiver presente
            url.searchParams.delete('type_product');
            // Adiciona a classe outline de volta
            revendaButton.classList.add('btn-outline-inverse');
        } else {
            // Adiciona o parâmetro type_product=Revenda
            url.searchParams.set('type_product', 'Revenda');
            // Remove a classe outline
            revendaButton.classList.remove('btn-outline-inverse');
        }
    
        // Recarrega a página com a nova URL
        window.location.href = url.toString();
    });
    

    document.getElementById('clearSearch').addEventListener('click', function() {
        // Obtém a URL sem os parâmetros da query string
        const baseUrl = window.location.origin + window.location.pathname;

        // Redefine a URL sem os parâmetros da query string
        window.history.replaceState(null, null, baseUrl);

        // Recarrega a página sem os parâmetros da query string
        window.location.reload();
    });    
</script>

{% endblock anotherjs %}



